--extra-index-url https://shared:HF6w0RbukY@packages.allegro.ai/repository/allegroai/simple
--extra-index-url https://shared:HF6w0RbukY@packages.allegro.ai/repository/allegroai/simple allegroai[gs]
allegroai==3.5.7rc2
torch>=1.4.0
torchvision>=0.5.0
dominate>=2.4.0
visdom>=0.1.8.8
wandb
